<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Kakao JavaScript SDK</title>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script>
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해 주세요.
        Kakao.init('f1170be17316de2a8807b80fb639657c');

        // SDK 초기화 여부를 판단합니다.
        console.log(Kakao.isInitialized());
    </script>
</head>

<body>
	<a href="https://kauth.kakao.com/oauth/authorize?client_id=3203fb9b237c44cf427b37c2e3cb4319&redirect_uri=http://localhost:8080/oauth&response_type=code">
		<img src="/image/kakao_login_large_wide.png">
	</a>
</body>
</html>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
$('#kakaoLoginButton').on('click', function(){
	$.ajax({
		type : "GET",
		url : "api/article/boardList",
		dataType : "json",
		data : "",
		success : function(res){
			$(".menudecoration > #menuButton").remove();
			$(".board_select_list").remove();
			let len = res.boardList.length;
			$(".menudecoration > #menuButton").remove();
			for (let index = 0; index < len; index++){
				$(".menudecoration").append("<li id = \"menuButton\" style = \"cursor:pointer;\" onclick = \"goBoardAjax(" + res.boardList[index].boardNum + ", 1)\">" + res.boardList[index].boardTitle + "</li>");
				/* top의 board select에 추가*/
				$("#board-select").append('<option class="board_select_list" value="' + res.boardList[index].boardNum + '">' + res.boardList[index].boardTitle + '</option>');
			}
		},
		error : function(err){
			alert("getBoardListAjax error : " + err);
		}
	});	
});
</script>
<script>
	function loginWithKakao(){
		Kakao.Auth.login({
			success: (auth) => {
				//console.log("auth : ", auth);
				/*
				access_token: "QFsbua171vQtudKCpZ2YKCVhkdjmQt4M4Eewwgopb9UAAAF0nGZ6WA"
				expires_in: 7199
				refresh_token: "Z8q7P8YdOSm2gFj0S6Oba0kWBqljhYu5qa2JrAopb9UAAAF0nGZ6Vg"
				refresh_token_expires_in: 5183999
				scope: "profile"
				token_type: "bearer"
				*/
			},
			fail: (err) => {
				console.log(err);
			}
		})
	}
</script>